#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    font-weight : bold;
    text-decoration : underline;
}

.logo_top{
    position: relative;
    margin-left: 10px;
    width: 145px;
    height: 145px;
}

.ui-menubar .ui-menuitem {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;

}

#logo_div{
    float: left;
}

#label_div{
    float: top;
    margin-top: 5px;
    margin-right: 6px;
    text-align: right;
}
